.filter-states {

  display: flex;
  min-width: 150px;
  border: 1px solid var(--primary-navy);
  border-radius: 5px;
  flex-wrap: wrap;
  font-size: 18px;
  padding: 8px 0;
  text-align: left;
  justify-content: center;
}